<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Recompensas SPC - Projeto Integrador</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
	ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; border-top-style: solid; border-width: 1px; border-color: #CFCFCF;}
	li { float: right;}
	li a {display: block; text-align: center; padding: 14px 16px; text-decoration: none; color: #9C9C9C;}
	p{ font-size: 15px;	padding-top: 2px;}
	</style>
</head>

<body>

<div>
	<form th:action="@{/logout}" method="get">
		<button style="float: right; margin-top: 3px; margin-bottom: 3px; margin-right: 3px; margin-left: 3px;" class="btn btn-sm btn-danger" name="registration"
				type="Submit">Sair
		</button>
	</form>
</div>

<div style="float: right; margin-top: 6px; margin-bottom: 0px; margin-right: 3px; margin-left: 3px; align" >
	<span th:utext="${userName}" ></span>
</div>

<div>
	<img th:src="@{/images/logoSVG.svg}" class="rounded" style="height: 30px; margin-top: 3px; margin-bottom: 3px; margin-right: 3px; margin-left: 3px;">
</div>

<div>
	<nav>
		<ul>
			<li><a th:href="@{/admin/home}">Home</a></li>
			<li><a href="#">Histórico de pagamento</a></li>
			<li><a href="#">Histórico Liberado</a></li>
			<li><a href="#">Consulte seu CPF</a></li>
			<li><a href="#">Empresas Suspensas</a></li>
			<li><a href="#">Contestações</a></li>
		</ul>
	</nav>
</div>
<div class="container">
</div>

<div align="center" style="font-size: 22px; margin-top: 20px; margin-bottom: 10px;" id="Points"><span th:utext="${userPontos}" ></span></div>

<div class="rewardTable">
	<div class="rewardTable">
		<table class="table">
			<thead>
			<tr>
				<a th:href="@{/admin/loja}"><button>Loja</button></a>
				<th scope="col">Serviços</th>
				<th scope="col">Pontos Necessários</th>
				<th scope="col"></th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">Consultoria Financeira Pessoal</th>
				<th>180 pontos</th>
				<th><a class="rewardButton" onclick="resgatar()">Resgatar</a></th>
			</tr>
			<tr>
				<th scope="row">Consultoria Financeira Familiar</th>
				<th>360 pontos</th>
				<th><a class="rewardButton" onclick="falhar()">Resgatar</a></th>
			</tr>
			<tr>
				<th scope="row">Empreendedorismo: Como Se Preparar Para Abrir uma Empresa</th>
				<th>450 pontos</th>
				<th><a class="rewardButton" onclick="falhar()">Resgatar</a></th>
			</tr>
			<tr>
				<th scope="row">Gestão Financeira - Controle Financeiro Para Autônomos e MEI</th>
				<th>700 pontos</th>
				<th><a class="rewardButton" onclick="falhar()">Resgatar</a></th>
			</tr>
			<tr>
				<th scope="row">Planejador Financeiro Profissional</th>
				<th>2080 pontos</th>
				<th><a class="rewardButton" onclick="falhar()">Resgatar</a></th>
			</tr>
			</tbody>
		</table>
	</div>

</div>

<div style=" background-color: rgb(21,70,149); left: 0;	bottom: 0; color: white; text-align: center; width: 100%;
		position: fixed; margin-bottom: 0%; bottom: 0; height: 235px; float: nono;">
	<div id="information-area">
		<div class="container">
			<div class="row">
				<div class="col-md-4 contact-box">
					<br/><p><b>Portal do consumidor</b></p><br/>
					<p>Termo de condições de uso</p>
					<p>Entenda a LGPD</p>
					<p>Politica de Privacidade</p>
					<p>Acesse sua Loja Online</p>
				</div>
				<div class="col-md-4 contact-box">
					<p>				</p><br/><br/><br/>
					<p>Monitore seu CPF</p>
					<p>Negocie suas dividas</p>
					<p>Cancelar meu Cadastro Positivo</p>
				</div>
				<div class="col-md-4 contact-box"></div>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

</div>
</div>
</div>
</body>
</html>
